# Программирование на Python

# Текcтовые файлы и основы работы в `pandas`


*Автор: Паршина Анастасия, НИУ ВШЭ (tg: @aaparshina)*

*Дополнила: Лика Капустина, НИУ ВШЭ (tg: @lika_kapustina)*

## Содержание

1. [Ключевое слово `with` и функция `open()`](#par1)
   1. [Открытие файла](#par1.1)
   2. [Обработка информации из файла](#par1.2)
   3. [Запись информации в файл](#par1.3)
2. [Основы работы в `pandas`](#par2)
   1. [Фильтрация, сортировка, группировка, создание новых признаков](#par2.1)
   2. [Меры центральной тенденции и меры разброса](#par2.2)
3. [Начало работы с текстами](#par3)
4. [Дополнительные материалы](#parlast)

Давайте скачаем файлик [по ссылке](https://github.com/aaparshina/PROG_22-23/blob/main/DATA/wine.csv). Для этого нам нужно нажать `Raw` и затем комбинацию `Ctrl+S` или `Cmd+S`.

[Источник данных - Kaggle](https://www.kaggle.com/datasets/jarredpriester/california-wine-production-19802020).

**Производство вин в Калифорнии 1980 - 2020 гг.**

Данные содержат следующие признаки:

* `Year` - Год
* `County` - Округ, где произвели вино
* `CountyCode` - Номер округа
* `HarvestedAcres` - Собранные акры винограда
* `Yield` - Урожайность на акр
* `Production` - Произведенная продукция (в тоннах)
* `Price` - Цена в далларах за тонну продукции

## Ключевое слово `with` и функция `open()` <a name="par1"></a>

Открыть текстовый файл (например, с расширением `.csv` или `.txt`) можно с помощью ключевого слова `with`. О чем тут важно помнить:

+ файл мы кладем в ту же папку, где у нас лежит блокнот (можно и без этого, но тогда легко запутаться в пути к этому файлу на вашем компьютере)
+ название файла указываем полнотью!
+ указываем режим открытия файла
    + `'r'` = read/чтение (он стоит по умолчанию)
    + `'a'` = append/добавление
    + `'w'` = write/запись, создание
    + на самом деле, их больше, но это основные
   
### Открытие файла <a name="par1.1"></a>

Файл у нас большой, поэтому я попрошу напечатать не все строки из него, а только 5.

In [ ]:
line_num = 5 # задаем число строк

# открываем файл с помощью with()
with open('wine.csv', 'r', encoding = 'utf8') as inf:
    for line in inf:
        print(line)

        line_num -= 1
        if line_num == 0:
            break

Year,CountyCode,County,HarvestedAcres,Yield,Production,Price

2020,1,Alameda,2530.0,5.14,13000.0,1497.69

2020,5,Amador,5360.0,2.31,12400.0,1318.31

2020,9,Calaveras,579.0,3.06,1770.0,1325.99

2020,11,Colusa,747.0,6.02,4500.0,684.67

Самое важное, что тут нужно запомнить — в конце каждой строки (абзаца) стоит переход на новую строку `\n`. При обработке данных советую всегда его убирать, лишним не будет. Сделать это можно с помощью метода `.strip()`.

In [ ]:
line_num = 5
with open('wine.csv', 'r', encoding = 'utf8') as inf:
    for line in inf:
        print(line.strip())

        line_num -= 1
        if line_num == 0:
            break

Year,CountyCode,County,HarvestedAcres,Yield,Production,Price
2020,1,Alameda,2530.0,5.14,13000.0,1497.69
2020,5,Amador,5360.0,2.31,12400.0,1318.31
2020,9,Calaveras,579.0,3.06,1770.0,1325.99
2020,11,Colusa,747.0,6.02,4500.0,684.67

Обратите внимание - здесь и далее мы с вами проходимся по строкам в файле `.csv`. Что мы видим выше?

На первой строке находятся названия колонок:
```
Year,CountyCode,County,HarvestedAcres,Yield,Production,Price
```

Когда мы смотрим на следующие строки, мы соотносим записанные значения с этой самой первой колонкой. Например, для первой строки с данными:

```
2020,1,Alameda,2530.0,5.14,13000.0,1497.69
```

Это означает, что в первой строке записаны следующие данные:
* `Year` - `2020`;
* `CountyCode` - `1`;
* `County` – `Alameda`;
* `HarvestedAcres` – `2530.0`;
* `Yield` – `5.14`;
* `Production` – `13000.0`;
* `Price` – `1497.69`.

Но как можно работать с данными, записанными в одной строке? Файл `.csv` расшировывается как `comma separated values` – то есть это тип файлов, в которых значения разделены запятыми. Это означает, что мы можем спокойно разделить наши значения по запятой и получить список.

In [ ]:
# надо лишь применить метод .split(',')
'2020,1,Alameda,2530.0,5.14,13000.0,1497.69'.split(',')

['2020', '1', 'Alameda', '2530.0', '5.14', '13000.0', '1497.69']

Давайте придумаем нам содержательную задачку на этих данных. Например, посчитаем выручку округа (количество продукции в тоннах умножаем на цену за тонну) и посмотрим, какой округ заработал больше остальных в каждом году.

Сохранять все будем в словарь `data`, где ключи — года, а значения — словари (с парами округ-выручка).

In [ ]:
data = {} # создаем пустой словарь

# открываем файл
with open('wine.csv', 'r', encoding = 'utf8') as input_file:
    for line in input_file:
        line = line.strip().split(',') # превращаем строку в список

        if line[0].isdigit(): # если первое значение - это год,
            year = int(line[0]) # выделяем год
            county = line[2] # выделяем округ

            # получаем значение выручки
            if len(line[-2]) == 0 or len(line[-1]) == 0:
                revenue = 0
            else:
                revenue = float(line[-2]) * float(line[-1])

            # обновляем значение в словаре
            data.setdefault(year, {})
            data[year].update({county: revenue})

### Обработка информации из файла <a name="par1.2"></a>

При работе с такими файлами главное — понять, как удобнее считать из него информацию и затем обработать ее.

Вот так выглядит, например, информация за 2020 год:

In [ ]:
# print(data)

print(data[2020])

{'Alameda': 19469970.0, 'Amador': 16347044.0, 'Calaveras': 2347002.3, 'Colusa': 3081015.0, 'ContraCosta': 6829044.3, 'ElDorado': 9663014.4, 'Fresno': 249876600.0, 'Kern': 59667600.00000001, 'Kings': 16954017.0, 'Lake': 52510114.99999999, 'Madera': 136102200.0, 'Marin': 937999.4, 'Mendocino': 82181760.0, 'Merced': 63419040.0, 'Monterey': 105991314.0, 'Napa': 461395463.99999994, 'Nevada': 0, 'Placer': 1964995.7099999997, 'Riverside': 18999981.0, 'Sacramento': 155975350.0, 'SanBenito': 34773072.0, 'SanBernardino': 440000.91, 'SanDiego': 5206013.9, 'SanJoaquin': 340911680.0, 'SanLuisObispo': 218238370.0, 'SanMateo': 0, 'SantaBarbara': 93836004.0, 'SantaClara': 11981970.8, 'SantaCruz': 4814000.0, 'Shasta': 500000.0, 'Solano': 21189056.0, 'Sonoma': 351511840.0, 'Stanislaus': 35557227.0, 'Tehama': 1053997.3599999999, 'Tulare': 35504000.0, 'Yolo': 104950500.0}

А так можно найти округ с максимальной выручкой:

In [ ]:
sorted([(revenue, county) for county, revenue in data[2020].items()])[-1]

(461395463.99999994, 'Napa')

Посмотрим на округа с максимальной выручкой по каждому году. Дополнительно можем учитывать, сколько раз мы втречали каждый округ.

In [ ]:
counties = {}
for year in sorted(data):
    res = sorted([(revenue, county) for county, revenue in data[year].items()])[-1]
    counties.setdefault(res[1], 0)
    counties[res[1]] += 1
    print(f'В {year} году больше всего выручки получил округ {res[1]}')
    print(f'Выручка составила {res[0]} доллара')

В 1980 году больше всего выручки получил округ Fresno
Выручка составила 62483400.0 доллара
В 1981 году больше всего выручки получил округ Fresno
Выручка составила 59860000.0 доллара
В 1982 году больше всего выручки получил округ Napa
Выручка составила 76285051.0 доллара
В 1983 году больше всего выручки получил округ Napa
Выручка составила 63605976.0 доллара
В 1984 году больше всего выручки получил округ Napa
Выручка составила 76796928.0 доллара
В 1985 году больше всего выручки получил округ Napa
Выручка составила 78286204.0 доллара
В 1986 году больше всего выручки получил округ Napa
Выручка составила 85707540.0 доллара
В 1987 году больше всего выручки получил округ Napa
Выручка составила 82147600.0 доллара
В 1988 году больше всего выручки получил округ SanJoaquin
Выручка составила 146273400.0 доллара
В 1989 году больше всего выручки получил округ Napa
Выручка составила 153706293.0 доллара
В 1990 году больше всего выручки получил округ Napa
Выручка составила 140479616.0 доллара
В 1991 году больше всего выручки получил округ Napa
Выручка составила 174285720.0 доллара
В 1992 году больше всего выручки получил округ Napa
Выручка составила 167717440.0 доллара
В 1993 году больше всего выручки получил округ Napa
Выручка составила 134464745.0 доллара
В 1994 году больше всего выручки получил округ Sonoma
Выручка составила 152330520.0 доллара
В 1995 году больше всего выручки получил округ SanJoaquin
Выручка составила 221200800.0 доллара
В 1996 году больше всего выручки получил округ SanJoaquin
Выручка составила 236889400.0 доллара
В 1997 году больше всего выручки получил округ Sonoma
Выручка составила 298213986.0 доллара
В 1998 году больше всего выручки получил округ SanJoaquin
Выручка составила 271022400.0 доллара
В 1999 году больше всего выручки получил округ SanJoaquin
Выручка составила 287022400.0 доллара
В 2000 году больше всего выручки получил округ Sonoma
Выручка составила 389781927.0 доллара
В 2001 году больше всего выручки получил округ Sonoma
Выручка составила 374418531.0 доллара
В 2002 году больше всего выручки получил округ Napa
Выручка составила 379889080.0 доллара
В 2003 году больше всего выручки получил округ Napa
Выручка составила 384599959.79999995 доллара
В 2004 году больше всего выручки получил округ Napa
Выручка составила 349499839.44 доллара
В 2005 году больше всего выручки получил округ Napa
Выручка составила 540799515.75 доллара
В 2006 году больше всего выручки получил округ Napa
Выручка составила 469072736.08 доллара
В 2007 году больше всего выручки получил округ Napa
Выручка составила 472606178.55 доллара
В 2008 году больше всего выручки получил округ Napa
Выручка составила 399912706.48 доллара
В 2009 году больше всего выручки получил округ Napa
Выручка составила 495018656.0 доллара
В 2010 году больше всего выручки получил округ Napa
Выручка составила 453883650.0 доллара
В 2011 году больше всего выручки получил округ Napa
Выручка составила 423442480.0 доллара
В 2012 году больше всего выручки получил округ Napa
Выручка составила 656236170.0 доллара
В 2013 году больше всего выручки получил округ Napa
Выручка составила 656234250.0 доллара
В 2014 году больше всего выручки получил округ Napa
Выручка составила 714811680.0 доллара
В 2015 году больше всего выручки получил округ Napa
Выручка составила 546934240.0 доллара
В 2016 году больше всего выручки получил округ Napa
Выручка составила 729507060.0000001 доллара
В 2017 году больше всего выручки получил округ Napa
Выручка составила 750832100.0 доллара
В 2018 году больше всего выручки получил округ Napa
Выручка составила 1038599250.0 доллара
В 2019 году больше всего выручки получил округ Napa
Выручка составила 937961600.0 доллара
В 2020 году больше всего выручки получил округ Napa
Выручка составила 461395463.99999994 доллара

In [ ]:
res2 = sorted([(v, k) for k, v in counties.items()], reverse = True)
print(res2)

[(30, 'Napa'), (5, 'SanJoaquin'), (4, 'Sonoma'), (2, 'Fresno')]

### Запись информации в файл <a name="par1.3"></a>

А теперь попробуем все, что мы сейчас получили, записать файл. Для этого нам снова понадобится слово `with` и функция `open()`. Назовем наш файл `wine_result.txt`

In [ ]:
with open('wine_result.txt', 'w', encoding = 'utf8') as output_file:
    # скопируем сюда предыдущий код
    for year in sorted(data):
        res = sorted([(revenue, county) for county, revenue in data[year].items()])[-1]

        print(f'В {year} году больше всего выручки получил округ {res[1]}', file = output_file)
        print(f'Выручка составила {res[0]} доллара', file = output_file)

    print('===', file = output_file)
    print('Подведем итог:', file = output_file)
    for county in res2:
        print(f'Округ {county[1]} был лучшим {county[0]} раз/раза', file = output_file)

Тут ячейка ничего не должна нам выдавать, однако(!) обратите внимание: теперь в папке с блокнотом появился файл `wine_result.txt` со всей информацией, которую мы только что туда записали.

<center><b>Задание 1. Работа с файлами.</b></center>

Скачайте файл об [академической успеваемости студентов](https://www.kaggle.com/datasets/bhavikjikadara/student-study-performance) и поместите его в вашу рабочую директорию (папку, в которой открыт этот ноутбук).

В вашем файле будут следующие колонки:
* `"gender"`
* `"race_ethnicity"`
* `"parental_level_of_education"`
* `"lunch"`
* `"test_preparation_course"`
* `"math_score"`
* `"reading_score"`
* `"writing_score"`

Откройте файл с помощью `with()`, **посчитайте и выведите следующие значения:**

* Число девушек, чьи родители получили магистерскую степень;
* Средний балл девушек по математике;
* Средний балл юношей по математике

**А далее напечатайте только те строки из вашего `.csv` файла**, в которых записана информация о девушках, получивших оценку по математике выше среднего балла для девушек *или* информация о юношах, получивших оценку по математике выше среднего балла для юношей.

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

## Основы работы в `pandas` <a name="par2"></a>

В этом разделе мы, очевидно, и близко не сможем разобрать вообще все. Попробуем сформулировать содержательные вопросы к нашим данным и посмотреть, с помощью каких интрументов возможно их проанализировать.

Обратите внимание – сейчас мы с вами будем работать с тем же файлом `.csv` что и ранее. Однако, `pandas` представляет нам более удобные возможности по обработке и анализу наших данных.

In [3]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/aaparshina/PROG_22-23/main/DATA/wine.csv')
data.head() # первые 5 строк файла

   Year  CountyCode       County  HarvestedAcres  Yield  Production    Price
0  2020           1      Alameda          2530.0   5.14     13000.0  1497.69
1  2020           5       Amador          5360.0   2.31     12400.0  1318.31
2  2020           9    Calaveras           579.0   3.06      1770.0  1325.99
3  2020          11       Colusa           747.0   6.02      4500.0   684.67
4  2020          13  ContraCosta          1940.0   4.69      9090.0   751.27

### Фильтрация, сортировка, группировка, создание новых признаков <a name="par2.1"></a>

**1. Сколько всего округов, где производят вино? Сколько всего округов когда-либо производило больше 500 000 тонн продукции?**

In [ ]:
len(data['County'].unique()) # .unique() выдает уникальные значения

42

Далее синтаксис такой: `данные[условие, по которому фильтруем][столбец, который забираем]`

In [ ]:
len(data[data['Production'] > 500000]['County'].unique())

3

**2. Сравните производство округа Калаверас (Calaveras) в 2000 и 2020 годах. Верно ли, что цена за тонну продукции увеличилась на 325 долларов?**

In [ ]:
# здесь у нас несколько условий для фильтрации
data[((data['Year'] == 2000) | (data['Year'] == 2020)) & (data['County'] == 'Calaveras')]

     Year  CountyCode     County  HarvestedAcres  Yield  Production    Price
2    2020           9  Calaveras           579.0   3.06      1770.0  1325.99
703  2000           9  Calaveras           470.0   3.60      1690.0  1000.00

**3. В каком году округ Колуса (Colusa) произвел наибольшее/наименьшее количество продукции?**

Отсортировать столбец нам поможет метод `.sort_values()` (обязательно в нем прописываем `by = ` т.е. столбец, по которому фильтруем).

Методы `.tail()` и `.head()` выдают нам низ и верх таблицы (мы указали 1, значит выдаст одну строку снизу и одну строку сверху).

In [ ]:
data[data['County'] == 'Colusa'].sort_values(by = 'Production').tail(1)

     Year  CountyCode  County  HarvestedAcres  Yield  Production   Price
291  2012          11  Colusa          2450.0  10.29     25200.0  594.56

In [ ]:
data[data['County'] == 'Colusa'].sort_values(by = 'Production').head(1)

   Year  CountyCode  County  HarvestedAcres  Yield  Production   Price
3  2020          11  Colusa           747.0   6.02      4500.0  684.67

**4. Создайте столбец с выручкой округа (количество продукции в тоннах умножаем на цену за тонну). Какой округ заработал больше остальных в 1999 году?**

In [ ]:
data['Value'] = data['Production'] * data['Price']
data.head()

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
0,2020,1,Alameda,2530.0,5.14,13000.0,1497.69,19469970.0
1,2020,5,Amador,5360.0,2.31,12400.0,1318.31,16347044.0
2,2020,9,Calaveras,579.0,3.06,1770.0,1325.99,2347002.3
3,2020,11,Colusa,747.0,6.02,4500.0,684.67,3081015.0
4,2020,13,ContraCosta,1940.0,4.69,9090.0,751.27,6829044.3

По умолчанию `.sort_values()` сортирует от меньшего к большему, но если указать `ascending = False`, то будет наоборот.

In [ ]:
data[data['Year'] == 1999].sort_values(by = 'Value', ascending = False).head(1)

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
752,1999,77,SanJoaquin,82012.0,6.69,548800.0,523.0,287022400.0

### Меры центральной тенденции и меры разброса <a name="par2.2"></a>

**5. Какова средняя урожайность на акр в 2020 году?**

In [ ]:
data[data['Year'] == 2020]['Yield'].mean()

5.570294117647059

**6. Выберите только 2015 год. Найдите выбросы по переменной, отвечающей за количество собранных акров винограда, используя межквартильный размах. Какие округи попадают в выбросы?**

In [ ]:
data_15 = data[data['Year'] == 2015]
q1 = data_15['HarvestedAcres'].quantile(0.25)
q3 = data_15['HarvestedAcres'].quantile(0.75)

iqr = q3-q1

bottom = q1 - 1.5 * iqr
top = q3 + 1.5 * iqr

data_15[data_15['HarvestedAcres'] > top]

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
207,2015,77,SanJoaquin,97900.0,6.23,610000.0,576.15,351451500.0

**7. Посчитайте среднее и медиану по цене за тонну до и после удаления выбросов (предыдущий пункт). Как изменились меры?**

In [ ]:
no_outliners = data_15[data_15['HarvestedAcres'] <= top]

print(data_15['HarvestedAcres'].mean(), data_15['HarvestedAcres'].median())
print(no_outliners['HarvestedAcres'].mean(), no_outliners['HarvestedAcres'].median())

15939.657142857142 4120.0
13529.058823529413 3725.0

**8. В каком году и каким округом было произведено максимальное/минимальное количество продукции?**

In [ ]:
data[data['Production'] == data['Production'].max()]

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
436,2008,19,Fresno,69631.0,14.94,1040100.0,250.93,260992293.0

In [ ]:
data[data['Production'] == data['Production'].min()]

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
1225,1983,57,Nevada,NaN,NaN,23.0,500.0,11500.0

**9. Верно ли, что округ Фресно (Fresno) с 1980 года стабильно производит продукцию больше медианного показателя?**

In [ ]:
med = data[data['Production'] > data['Production'].median()]
med[med['County'] == 'Fresno']

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
6,2020,19,Fresno,56900.0,12.13,690000.0,362.14,249876600.0
42,2019,19,Fresno,53500.0,13.83,740000.0,343.65,254301000.0
80,2018,19,Fresno,59500.0,12.92,769000.0,373.14,286944660.0
117,2017,19,Fresno,59700.0,13.32,795000.0,361.02,287010900.0
153,2016,19,Fresno,75500.0,10.00,755000.0,382.85,289051750.0
189,2015,19,Fresno,60200.0,12.79,770000.0,312.55,240663500.0
223,2014,19,Fresno,58700.0,11.24,660000.0,391.95,258687000.0
257,2013,19,Fresno,54571.0,13.12,716000.0,409.68,293330880.0
293,2012,19,Fresno,86700.0,10.38,900000.0,385.48,346932000.0
329,2011,19,Fresno,68900.0,13.13,905000.0,335.50,303627500.0
365,2010,19,Fresno,60100.0,14.69,883000.0,279.97,247213510.0
401,2009,19,Fresno,64376.0,12.48,803560.0,253.16,203429249.6
436,2008,19,Fresno,69631.0,14.94,1040100.0,250.93,260992293.0
470,2007,19,Fresno,61224.0,11.81,722800.0,214.36,154939408.0
504,2006,19,Fresno,64116.0,8.83,566400.0,209.56,118694784.0
538,2005,19,Fresno,77598.0,11.32,878500.0,223.29,196160265.0
572,2004,19,Fresno,96692.0,9.01,871000.0,226.31,197116010.0
606,2003,19,Fresno,72186.0,10.09,728500.0,166.12,121018420.0
640,2002,19,Fresno,85701.0,10.83,928100.0,141.00,130862100.0
673,2001,19,Fresno,76393.0,8.37,639180.0,167.00,106743060.0
705,2000,19,Fresno,75139.0,11.12,835310.0,177.00,147849870.0
736,1999,19,Fresno,128613.0,5.40,693910.0,237.00,164456670.0
768,1998,19,Fresno,81747.0,9.30,760130.0,231.00,175590030.0
801,1997,19,Fresno,87220.0,11.22,978930.0,225.00,220259250.0
831,1996,19,Fresno,86319.0,8.54,737490.0,230.00,169622700.0
859,1995,19,Fresno,63633.0,10.11,643400.0,195.00,125463000.0
889,1994,19,Fresno,46448.0,8.52,395800.0,170.00,67286000.0
918,1993,19,Fresno,61022.0,10.93,667100.0,182.00,121412200.0
947,1992,19,Fresno,77293.0,10.67,825100.0,195.00,160894500.0
976,1991,19,Fresno,32900.0,9.26,304780.0,162.00,49374360.0
1005,1990,19,Fresno,33715.0,10.28,346750.0,158.00,54786500.0
1034,1989,19,Fresno,34239.0,8.39,287300.0,186.00,53437800.0
1063,1988,19,Fresno,34867.0,9.90,345100.0,167.00,57631700.0
1094,1987,19,Fresno,35671.0,7.93,283000.0,149.00,42167000.0
1125,1986,19,Fresno,37535.0,7.47,280300.0,138.00,38681400.0
1154,1985,19,Fresno,37851.0,10.62,401900.0,115.00,46218500.0
1184,1984,19,Fresno,34434.0,8.68,298900.0,138.00,41248200.0
1215,1983,19,Fresno,32885.0,8.80,289400.0,160.00,46304000.0
1246,1982,19,Fresno,31691.0,11.19,354600.0,153.00,54253800.0
1274,1981,19,Fresno,34210.0,8.54,292000.0,205.00,59860000.0
1296,1980,19,Fresno,35170.0,10.21,359100.0,174.00,62483400.0

**10. В столбце Yield заполните пропущенные значения нулями. Затем создайте новый признак со значением 0 или 1, где 0 — урожайность ниже среднего значения, а 1 — урожайность выше среднего. Каких округов больше? Какой округ во все года попадал в категорию 0 (урожайность ниже среднего значения)?**

In [ ]:
data['Yield'] = data['Yield'].fillna(0)
data['Yield_0_1'] = data['Yield'].apply(lambda x: 0 if x < data['Yield'].mean() else 1)
data.head()

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value,Yield_0_1
0,2020,1,Alameda,2530.0,5.14,13000.0,1497.69,19469970.0,1
1,2020,5,Amador,5360.0,2.31,12400.0,1318.31,16347044.0,0
2,2020,9,Calaveras,579.0,3.06,1770.0,1325.99,2347002.3,0
3,2020,11,Colusa,747.0,6.02,4500.0,684.67,3081015.0,1
4,2020,13,ContraCosta,1940.0,4.69,9090.0,751.27,6829044.3,0

In [ ]:
data['Yield_0_1'].value_counts()

Yield_0_1
0    838
1    477
Name: count, dtype: int64

In [ ]:
data[data['Yield_0_1'] == 0]['County'].value_counts()

County
Napa             41
Sonoma           40
Calaveras        40
SanDiego         39
SanBernardino    39
Amador           38
SanBenito        37
Riverside        37
SantaClara       37
SantaCruz        36
Nevada           35
Mendocino        35
Alameda          34
Lake             34
SantaBarbara     34
ElDorado         32
Mariposa         30
Monterey         29
SanMateo         28
Placer           28
SanLuisObispo    27
Solano           25
Marin            22
Trinity          20
Yuba             14
Shasta           12
ContraCosta       7
Tehama            2
Mono              2
SanLuisObisp      1
SanJoaquin        1
Yolo              1
Sacramento        1
Name: count, dtype: int64

<center><b>Задание 2.</b></center>

Сохраните в переменную `df` датасет [с информацией об академической успеваемости студентов](https://www.kaggle.com/datasets/bhavikjikadara/student-study-performance) и выведите следующие показатели:

In [ ]:
# YOUR CODE HERE

Выведите 5 строк с информацией о девушках, набравших наибольший балл по математике:

In [ ]:
# YOUR CODE HERE

Посчитайте средние значения по математике, чтению и письму для девушек и юношей:

*Nota bene: если вы хотите решить эту задачу элегантно и быстрее, прочитайте про метод [`groupby` в pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)*

In [ ]:
# YOUR CODE HERE

Создайте колонку `final_grade` - сумму значений результатов по математике, чтению и письму. Выведите средние значения по показателю `final_grade` для студентов с разными уровнями образования родителей (колонка `parental_level_of_education`). Отсортируйте эти средние в порядке возрастания.

*Nota bene: если вы хотите решить эту задачу элегантно и быстрее, прочитайте про метод [`groupby` в pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)*

In [ ]:
# YOUR CODE HERE

# Начало работы с текстами <a name="par3"></a>

Загрузим корпус стихов.

In [4]:
poems = pd.read_csv('poems.csv')
poems

,writer,poem,text
0,Лермонтов Михаил Юрьевич,Любовь мертвеца,NaN
1,Лермонтов Михаил Юрьевич,На серебряные шпоры…,На серебряные шпоры\nЯ в раздумии гляжу;\nЗа т...
2,Лермонтов Михаил Юрьевич,Вид гор из степей Козлова,Пилигрим\nАллах ли там среди пустыни\nЗастывши...
3,Лермонтов Михаил Юрьевич,"К (О, не скрывай! Ты плакала об нем…)","О, не скрывай! Ты плакала об нем –\nИ я его лю..."
4,Лермонтов Михаил Юрьевич,"Жалобы турка (письмо к другу, иностранцу)","Ты знал ли дикий край, под знойными лучами,\nГ..."
...,...,...,...
19311,Владислав Фелицианович Ходасевич,Прогулка,"Хорошо, что в этом мире\nЕсть магические ночи,..."
19312,Владислав Фелицианович Ходасевич,Пробочка,Пробочка над крепким иодом!\nКак ты скоро пере...
19313,Владислав Фелицианович Ходасевич,"Друзья, друзья! Быть может, скоро…","Друзья, друзья! Быть может, скоро —\nИ не во с..."
19314,Владислав Фелицианович Ходасевич,"Увы, дитя! Душе неутоленной…","Увы, дитя! Душе неутоленной\nНе снишься ль ты ..."
19315,Владислав Фелицианович Ходасевич,"Изломала, одолевает…","Изломала, одолевает\nНестерпимая скука с утра...."

Предположим, что мы хотим сделать частотный анализ слов в этом корпусе. Для этого нам нужно выделить слова. Это можно сделать с помощью уже знакомой нам функции `split()`, но здесь она представлена в векторизованной версии: `str.split()`

In [5]:
poems["splitted_text"] = poems["text"].str.split()

In [6]:
poems

,writer,poem,text,splitted_text
0,Лермонтов Михаил Юрьевич,Любовь мертвеца,NaN,NaN
1,Лермонтов Михаил Юрьевич,На серебряные шпоры…,На серебряные шпоры\nЯ в раздумии гляжу;\nЗа т...,"[На, серебряные, шпоры, Я, в, раздумии, гляжу;..."
2,Лермонтов Михаил Юрьевич,Вид гор из степей Козлова,Пилигрим\nАллах ли там среди пустыни\nЗастывши...,"[Пилигрим, Аллах, ли, там, среди, пустыни, Зас..."
3,Лермонтов Михаил Юрьевич,"К (О, не скрывай! Ты плакала об нем…)","О, не скрывай! Ты плакала об нем –\nИ я его лю...","[О,, не, скрывай!, Ты, плакала, об, нем, –, И,..."
4,Лермонтов Михаил Юрьевич,"Жалобы турка (письмо к другу, иностранцу)","Ты знал ли дикий край, под знойными лучами,\nГ...","[Ты, знал, ли, дикий, край,, под, знойными, лу..."
...,...,...,...,...
19311,Владислав Фелицианович Ходасевич,Прогулка,"Хорошо, что в этом мире\nЕсть магические ночи,...","[Хорошо,, что, в, этом, мире, Есть, магические..."
19312,Владислав Фелицианович Ходасевич,Пробочка,Пробочка над крепким иодом!\nКак ты скоро пере...,"[Пробочка, над, крепким, иодом!, Как, ты, скор..."
19313,Владислав Фелицианович Ходасевич,"Друзья, друзья! Быть может, скоро…","Друзья, друзья! Быть может, скоро —\nИ не во с...","[Друзья,, друзья!, Быть, может,, скоро, —, И, ..."
19314,Владислав Фелицианович Ходасевич,"Увы, дитя! Душе неутоленной…","Увы, дитя! Душе неутоленной\nНе снишься ль ты ...","[Увы,, дитя!, Душе, неутоленной, Не, снишься, ..."
19315,Владислав Фелицианович Ходасевич,"Изломала, одолевает…","Изломала, одолевает\nНестерпимая скука с утра....","[Изломала,, одолевает, Нестерпимая, скука, с, ..."

Удалим пустые значения.

In [7]:
poems = poems.dropna()

А также приведём слова к единому регистру и удалим знаки препинания (нам хочется, чтобы слова "Там" и "там" считались одним словом, а не разными, а также чтобы знаки препинания не были частью слов).

Пропишем функцию.

In [8]:
def normalize(l):
  punct = [".", ",", "!", "-", ":", "?", "'", ";"]
  for i in range(len(l)):
    l[i] = l[i].lower()
    for symbol in punct:
      if symbol in l[i]:
        l[i] = l[i].replace(symbol, '')
  return l

In [9]:
poems

,writer,poem,text,splitted_text
1,Лермонтов Михаил Юрьевич,На серебряные шпоры…,На серебряные шпоры\nЯ в раздумии гляжу;\nЗа т...,"[На, серебряные, шпоры, Я, в, раздумии, гляжу;..."
2,Лермонтов Михаил Юрьевич,Вид гор из степей Козлова,Пилигрим\nАллах ли там среди пустыни\nЗастывши...,"[Пилигрим, Аллах, ли, там, среди, пустыни, Зас..."
3,Лермонтов Михаил Юрьевич,"К (О, не скрывай! Ты плакала об нем…)","О, не скрывай! Ты плакала об нем –\nИ я его лю...","[О,, не, скрывай!, Ты, плакала, об, нем, –, И,..."
4,Лермонтов Михаил Юрьевич,"Жалобы турка (письмо к другу, иностранцу)","Ты знал ли дикий край, под знойными лучами,\nГ...","[Ты, знал, ли, дикий, край,, под, знойными, лу..."
5,Лермонтов Михаил Юрьевич,К кн. Л. Г-ой,Когда ты холодно внимаешь\nРассказам горести ч...,"[Когда, ты, холодно, внимаешь, Рассказам, горе..."
...,...,...,...,...
19311,Владислав Фелицианович Ходасевич,Прогулка,"Хорошо, что в этом мире\nЕсть магические ночи,...","[Хорошо,, что, в, этом, мире, Есть, магические..."
19312,Владислав Фелицианович Ходасевич,Пробочка,Пробочка над крепким иодом!\nКак ты скоро пере...,"[Пробочка, над, крепким, иодом!, Как, ты, скор..."
19313,Владислав Фелицианович Ходасевич,"Друзья, друзья! Быть может, скоро…","Друзья, друзья! Быть может, скоро —\nИ не во с...","[Друзья,, друзья!, Быть, может,, скоро, —, И, ..."
19314,Владислав Фелицианович Ходасевич,"Увы, дитя! Душе неутоленной…","Увы, дитя! Душе неутоленной\nНе снишься ль ты ...","[Увы,, дитя!, Душе, неутоленной, Не, снишься, ..."
19315,Владислав Фелицианович Ходасевич,"Изломала, одолевает…","Изломала, одолевает\nНестерпимая скука с утра....","[Изломала,, одолевает, Нестерпимая, скука, с, ..."

И используем модуль Counter для подсчёта частот.

In [10]:
from collections import Counter
words = []
for poem in poems["splitted_text"]:
  words += normalize(poem)
Counter(words)

Counter({'на': 43740,
         'серебряные': 50,
         'шпоры': 26,
         'я': 53555,
         'в': 98576,
         'раздумии': 7,
         'гляжу': 277,
         'за': 14836,
         'тебя': 7675,
         'скакун': 13,
         'мой': 8977,
         'скорый': 14,
         'бока': 114,
         'твои': 1654,
         'дрожу': 68,
         'наши': 986,
         'предки': 38,
         'их': 8583,
         'не': 68344,
         'знали': 188,
         'и': 155280,
         'гарцуя': 1,
         'средь': 1022,
         'степей': 110,
         'толстой': 58,
         'плеткой': 3,
         'погоняли': 3,
         'недоезжаных': 1,
         'коней': 237,
         'но': 21531,
         'с': 36800,
         'успехом': 36,
         'просвещенья': 46,
         'вместо': 1217,
         'грубой': 29,
         'старины': 84,
         'введены': 4,
         'изобретенья': 3,
         'чужеземной': 1,
         'стороны': 234,
         'наше': 424,
         'время': 1825,
         'кормят': 7,
         'холят': 3,
         'берегут': 25,
         'спинную': 1,
         'честь…': 7,
         'прежде': 1009,
         'били': 53,
         '–': 3704,
         'нынче': 407,
         'колют': 5,
         'что': 30566,
         'же': 8844,
         'выгодней': 6,
         'бог': 2114,
         'весть': 432,
         'пилигрим': 20,
         'аллах': 10,
         'ли': 7372,
         'там': 6292,
         'среди': 1211,
         'пустыни': 154,
         'застывших': 12,
         'волн': 348,
         'воздвиг': 52,
         'твердыни': 47,
         'притоны': 2,
         'ангелам': 8,
         'своим': 981,
         'иль': 4018,
         'дивы': 11,
         'словом': 350,
         'роковым[3]': 1,
         'стеной': 120,
         'умели': 35,
         'так': 12034,
         'высоко': 331,
         'громады': 75,
         'скал': 277,
         'нагромоздить': 1,
         'чтоб': 5063,
         'путь': 1821,
         'север': 178,
         'заградить': 5,
         'звездам': 68,
         'кочующим': 2,
         'востока': 159,
         'вот': 6858,
         'свет': 2411,
         'всё': 5071,
         'небо': 1547,
         'озарил': 44,
         'то': 9461,
         'пожар': 177,
         'цареграда': 1,
         'ко': 2030,
         'сводам': 15,
         'пригвоздил': 5,
         'полночная': 18,
         'лампада': 54,
         'маяк': 54,
         'спасительный': 10,
         'отрада': 202,
         'плывущих': 7,
         'по': 11255,
         'морю': 151,
         'светил': 124,
         'мирза[4]': 1,
         'был': 6744,
         'со': 4031,
         'дня': 1042,
         'созданья': 79,
         'бушует': 44,
         'вечная': 93,
         'метель': 84,
         'потоков': 26,
         'видел': 823,
         'колыбель': 78,
         'дохнул': 26,
         'мерзнул': 1,
         'пар': 145,
         'дыханья': 61,
         'проложил': 10,
         'смелый': 117,
         'след': 428,
         'где': 8269,
         'для': 7050,
         'орлов': 42,
         'дороги': 427,
         'нет': 8090,
         'дремлет': 226,
         'гром': 596,
         'над': 6398,
         'глубиною': 10,
         'моей': 3171,
         'чалмою': 8,
         'одна': 1495,
         'сверкала': 14,
         'лишь': 4534,
         'звезда': 462,
         'чатырдаг': 5,
         'был…': 35,
         'а': 22558,
         'о': 19978,
         'скрывай': 10,
         'ты': 31374,
         'плакала': 73,
         'об': 919,
         'нем': 2142,
         'его': 10968,
         'люблю': 1696,
         'он': 21008,
         'заслужил': 46,
         'твою': 722,
         'слезу': 50,
         'если': 4242,
         'б': 3983,
         'врагом': 125,
         'моим': 613,
         'тех': 1132,
         'пор': 620,
         'любил': 664,
         'бы': 6602,
         'мог': 1359,
         'быть': 4810,
         'счастлив': 505,
         'зачем': 1565,
         'искать': 342,
         'условий': 14,
         'счастия': 159,
         'былом': 99,
         'доволен': 160,
         'должен': 708,
         'тем': 1952,
         'зрел': 131,
         'как': 30945,
         'жалела': 11,
         'другом': 274,
         'знал': 626,
         'дикий': 192,
         'край': 770,
         'под': 6664,
         'знойными': 4,
         'лучами': 182,
         'рощи': 228,
         'луга': 355,
         'поблекшие': 10,
         'цветут': 132,
         'хитрость': 28,
         'беспечность': 42,
         'злобе': 74,
         'дань': 164,
         'несут': 163,
         'сердце': 4712,
         'жителей': 37,
         'волнуемо': 1,
         'страстями': 36,
         'являются': 27,
         'порой': 643,
         'умы': 122,
         'хладные': 23,
         'твердые': 14,
         'камень': 554,
         'мощь': 90,
         'давится': 2,
         'безвременной': 17,
         'тоской': 504,
         'рано': 323,
         'гаснет': 103,
         'них': 2492,
         'добра': 285,
         'спокойный': 85,
         'пламень': 442,
         'жизнь': 3533,
         'тяжка': 33,
         'бывает': 241,
         'людей': 1493,
         'утехами': 1,
         'несется': 224,
         'укоризна': 3,
         'стонет': 183,
         'человек': 1270,
         'от': 11378,
         'рабства': 50,
         'цепей': 73,
         'друг': 2755,
         'этот': 2123,
         'край…': 9,
         'моя': 3754,
         'отчизна': 49,
         'p': 10,
         's': 10,
         'ах': 2058,
         'меня': 10076,
         'поймешь': 108,
         'прости': 732,
         'свободные': 57,
         'намеки': 24,
         'пусть': 2750,
         'истину': 94,
         'скрывает': 62,
         'ложь': 290,
         'ж': 5463,
         'делать': 527,
         '—': 73762,
         'все': 12822,
         'мы': 10676,
         'человеки': 41,
         'когда': 8337,
         'холодно': 117,
         'внимаешь': 13,
         'рассказам': 8,
         'горести': 238,
         'чужой': 375,
         'недоверчиво': 8,
         'качаешь': 9,
         'своей': 2572,
         'головкой': 32,
         'молодой': 558,
         'блестящие': 29,
         'наряды': 45,
         'безумно': 161,
         'радуют': 19,
         'ребяческой': 5,
         'досады': 86,
         'душа': 2126,
         'волнуется': 52,
         'твоя': 1464,
         'вижу': 1501,
         'ясно': 464,
         'семнадцать': 40,
         'лет': 1868,
         'привлекательно': 1,
         'прекрасно': 231,
         'даже': 1360,
         'люди': 1409,
         'тогда': 2433,
         'измучен': 34,
         'вспоминаньем': 3,
         'говорю': 370,
         'душе': 1458,
         'кто': 6684,
         'земным': 75,
         'желаньям': 20,
         'отдать': 173,
         'себя': 2672,
         'во': 6968,
         'цвете': 107,
         'дней': 1333,
         'завидуй': 9,
         'будешь': 774,
         'довольна': 46,
         'этим': 480,
         'она': 7392,
         'своих': 1377,
         'надежд': 220,
         'забудешь': 50,
         'других': 522,
         'рождена': 38,
         'мысль': 920,
         'великая': 150,
         'хранилась': 3,
         'тебе': 6209,
         'доныне': 107,
         'зерно': 79,
         'тобою': 1523,
         'мир': 2591,
         'родилась': 77,
         'погибнуть': 53,
         'ей': 3647,
         'суждено': 205,
         'que': 46,
         'nous': 15,
         'font': 2,
         'après': 1,
         'tout': 20,
         'les': 32,
         'vulgaires': 1,
         'abois': 1,
         'de': 126,
         'tous': 4,
         'ces': 12,
         'charlatans': 1,
         'qui': 34,
         'donnent': 1,
         'la': 103,
         'voix': 3,
         'marchands': 1,
         'pathos': 1,
         'et': 138,
         'faiseurs': 1,
         'd’emphase': 1,
         'baladins': 1,
         'dansent': 1,
         'sur': 12,
         'phrase': 1,
         'a': 97,
         'barbier': 1,
         'верь': 293,
         'себе': 2269,
         'мечтатель': 43,
         'язвы': 59,
         'бойся': 190,
         'вдохновенья…': 2,
         'оно': 1053,
         'тяжелый': 232,
         'бред': 263,
         'души': 1797,
         'твоей': 1715,
         'больной': 302,
         'пленной': 17,
         'мысли': 988,
         'раздраженье': 5,
         'признака': 4,
         'небес': 867,
         'напрасно': 831,
         'ищи': 133,
         'кровь': 1636,
         'кипит': 270,
         'сил': 785,
         'избыток': 52,
         'скорее': 321,
         'свою': 1565,
         'заботах': 19,
         'истощи': 2,
         'разлей': 8,
         'отравленный': 10,
         'напиток': 55,
         'случится': 60,
         'заветный': 88,
         'чудный': 154,
         'миг': 1184,
         'отрыть': 1,
         'давно': 1840,
         'безмолвной': 48,
         'еще': 4989,
         'неведомый': 71,
         'девственный': 24,
         'родник': 66,
         'простых': 37,
         'сладких': 76,
         'звуков': 126,
         'полный': 323,
         'вслушивайся': 2,
         'предавайся': 3,
         'им': 2895,
         'набрось': 2,
         'покров': 229,
         'забвенья': 155,
         'стихом': 82,
         'размеренным': 7,
         'ледяным': 9,
         'передашь': 8,
         'значенья': 18,
         'закрадется': 1,
         'ль': 3537,
         'печаль': 635,
         'тайник': 18,
         'зайдет': 20,
         'страсть': 717,
         'грозой': 134,
         'вьюгой': 24,
         'выходи': 42,
         'шумный': 102,
         'пир': 388,
         'своею': 343,
         'бешеной': 26,
         'подругой': 43,
         'унижай': 3,
         'стыдися': 5,
         'торговать': 28,
         'гневом': 96,
         'послушной': 27,
         'гной': 3,
         'душевных': 43,
         'ран': 118,
         'надменно': 60,
         'выставлять': 6,
         'диво': 151,
         'черни': 75,
         'простодушной': 8,
         'какое': 377,
         'дело': 1160,
         'нам': 5875,
         'страдал': 94,
         'или': 2860,
         'знать': 944,
         'волненья': 111,
         'надежды': 530,
         'глупые': 36,
         'первоначальных': 16,
         'рассудка': 59,
         'злые': 186,
         'сожаленья': 52,
         'взгляни': 218,
         'перед': 1934,
         'тобой': 2792,
         'играючи': 11,
         'идет': 1232,
         'толпа': 360,
         'дорогою': 69,
         'привычной': 26,
         'лицах': 53,
         'праздничных': 18,
         'чуть': 1028,
         'виден': 116,
         'забот': 196,
         'слезы': 1160,
         'встретишь': 42,
         'неприличной': 2,
         'между': 1234,
         'из': 10153,
         'едва': 929,
         'есть': 4104,
         'один': 2642,
         'тяжелой': 106,
         'пыткой': 13,
         'измятый': 6,
         'до': 5010,
         'преждевременных': 6,
         'добравшийся': 1,
         'морщин': 20,
         'без': 6156,
         'преступленья': 35,
         'утраты': 35,
         'поверь': 193,
         'смешон': 57,
         'твой': 4384,
         'плач': 215,
         'укор': 113,
         'напевом': 37,
         'заученным': 1,
         'разрумяненный': 2,
         'трагический': 10,
         'актер': 25,
         'махающий': 2,
         'мечом': 184,
         'картонным…': 1,
         '1': 1552,
         'странные': 71,
         'которые': 450,
         'друзьями': 115,
         'обходятся': 1,
         'сертуками': 1,
         'покуда': 217,
         'нов': 44,
         'сертук': 5,
         'чести': 271,
         'забыт': 71,
         'подарен': 2,
         'слугам': 10,
         '2': 1391,
         'тот': 2934,
         'самый': 382,
         'пустой': 260,
         'весь': 2746,
         'наполнен': 31,
         'сам': 2851,
         'собой': 1049,
         '3': 1244,
         'поэтом': 94,
         '(хоть': 23,
         'это': 5771,
         'бремя)': 1,
         'журналиста': 2,
         'ругать': 18,
         'льстить': 33,
         'лгать': 42,
         'одно': 985,
         'признаться': 111,
         'очень': 974,
         'мудрено': 66,
         '4': 1064,
         'гну': 7,
         'п…': 2,
         'аминт': 1,
         'глупца': 30,
         'походит': 13,
         'счастием': 63,
         'бежит': 548,
         'конец': 537,
         'крепко': 258,
         'спит': 567,
         'сон': 1799,
         'другим': 337,
         'наводит': 62,
         '5': 753,
         'стыдить': 1,
         'лжеца': 2,
         'шутить': 47,
         'дураком': 18,
         'спорить': 101,
         'женщиной': 39,
         'черпать': 10,
         'воду': 343,
         'решетом': 5,
         'сих': 388,
         'троих': 23,
         'избавь': 43,
         'нас': 5253,
         'боже': 922,
         '6': 654,
         'дамон': 24,
         'наш': 2149,
         'врач': 71,
         'друге': 41,
         'прослезился': 5,
         'кончил': 78,
         'поныне': 68,
         'грустит': 61,
         '(но': 19,
         'том': 1375,
         'жизни': 2649,
         'лишился)': 1,
         'пять': 402,
         'раз': 2204,
         'забыл': 341,
         'взять': 330,
         'билеты': 7,
         'визит': 6,
         'садится': 133,
         'солнце': 1868,
         'горой': 156,
         'туман': 506,
         'дымится': 60,
         'болотом': 19,
         'дорогой': 345,
         'столбовой': 18,
         'летят': 266,
         'склонившись': 44,
         'лукой': 2,
         'два': 1334,
         'всадника': 14,
         'лихим': 15,
         'полетом': 20,
         'высок': 62,
         'худощав': 1,
         'кобылу': 4,
         'серую': 12,
         'собрав': 37,
         'горячит': 4,
         'нетерпеливо': 23,
         'сдержит': 5,
         'вдруг': 2469,
         'одной': 924,
         'рукой': 954,
         'мал': 95,
         'широк': 34,
         'плечах': 83,
         'другой': 1128,
         'храпя': 8,
         'мотает': 8,
         'длинной': 96,
         'гривой': 42,
         'ним': 2720,
         'саврасый': 1,
         'скакунок': 1,
         'башкирских': 1,
         'сын': 1229,
         'счастливый': 238,
         'устали': 95,
         'всадники': 16,
         'ног': 552,
         'головы': 364,
         'покрыты': 77,
         'прахом': 83,
         'приезженных': 1,
         'размахом': 8,
         'они': 3920,
         'любуются': 10,
         'речь': 678,
         'ведут': 140,
         'монго': 6,
         'послушай': 165,
         'тут': 2310,
         'направо': 120,
         'осталось': 213,
         'только': 6092,
         'три': 958,
         'версты': 48,
         'постой': 189,
         'уж': 4667,
         'эти': 1347,
         'мне': 18546,
         'мосты': 58,
         'дрожат': 145,
         'смотрят': 205,
         'лукаво': 69,
         'вперед': 664,
         'маёшка': 5,
         'измучит': 9,
         'приключенье': 8,
         'ведь': 1833,
         'завтра': 562,
         'шесть': 167,
         'часов': 177,
         'ученье': 38,
         'семь': 302,
         'читал': 162,
         'приказ': 115,
         'нужно': 508,
         'вам': 3774,
         'читатель': 99,
         'героев': 116,
         'показать': 77,
         'портрет': 114,
         'повеса': 30,
         'корнет': 22,
         'актрис': 9,
         'коварных': 30,
         'обожатель': 19,
         'молод': 189,
         'сердцем': 555,
         'душой': 937,
         'беспечно': 93,
         'женским': 11,
         'ласкам': 17,
         'верил': 129,
         'аршин': 34,
         'предлинный': 1,
         'свой': 3369,
         'людскую': 13,
         'честь': 816,
         'совесть': 202,
         'мерил': 23,
         'породы': 25,
         'английской': 10,
         'флегматик': 2,
         'бурыми': 2,
         'усами': 28,
         'собак': 82,
         'портер': 5,
         'занимался': 14,
         'чинами': 14,
         'ходил': 162,
         'немытый': 4,
         'целый': 558,
         'день': 4008,
         'носил': 64,
         'фуражку': 6,
         'набекрень': 24,
         'имел': 238,
         'гадкую': 1,
         'посадку': 1,
         'неловко': 43,
         'гнулся': 3,
         'наперед': 66,
         'тянул': 15,
         'ноги': 624,
         'пятку': 2,
         'каждый': 1305,
         'патриот': 23,
         'милый': 1030,
         'вы': 7635,
         'езжали': 8,
         'смотреть': 245,
         'российский': 75,
         'балет': 10,
         'верно': 486,
         'креслах': 28,
         'замечали': 14,
         'внимательный': 12,
         'лорнет': 23,
         'дев': 211,
         'ему': 3721,
         'сначала': 261,
         'девять': 70,
         'сряду': 19,
         'отвечала': 56,
         'десятый': 21,
         'толпою': 157,
         'смешан': 5,
         'волокит': 12,
         'жесты': 21,
         'вздохи': 96,
         'объясненья': 8,
         'помогали': 15,
         'ничего…': 50,
         'зародился': 3,
         'мщенья': 57,
         'озлобленной': 4,
         'таких': 369,
         'правил': 82,
         'лень': 158,
         'закон': 408,
         'поставил': 117,
         'домой': 548,
         'дежурства': 1,
         'уезжал': 4,
         'хотя': 1258,
         'дома': 728,
         'дела': 639,
         'порою': 313,
         'рассуждал': 16,
         'смело': 326,
         'чаще': 195,
         'разгульной': 7,
         'отпечаток': 13,
         'иные': 241,
         'печалей': 26,
         'будущих': 47,
         'задаток': 15,
         'хранил': 60,
         'молодом': 28,
         'покоя': 245,
         'смущало': 8,
         'касалось': 3,
         'него': 1551,
         'насмешек': 12,
         'гибельное': 1,
         'жало': 90,
         'броню': 23,
         'железную': 19,
         'встречало': 2,
         'самолюбием': 3,
         'слова': 2014,
         'весил': 1,
         'осторожно': 105,
         'опрометчив': 1,
         'делах': 100,
         'трезвый': 24,
         'врал': 4,
         'безбожно': 22,
         'молчалив': 19,
         'пирах': 46,
         'характер': 38,
         'вовсе': 285,
         'бесполезный': 24,
         'друзей': 511,
         'врагов…': 3,
         'увы': 997,
         'любезный': 320,
         'таков': 261,
         'теперь': 3966,
         'следует': 88,
         'подвиг': 170,
         'славный': 195,
         'роковой': 256,
         'терзаем': 10,
         'пьяницы': 12,
         'недугом': 34,
         'изгагой': 1,
         'мучим': 22,
         'огневой': 54,
         'приюты': 7,
         'неги': 122,
         'прохлады': 59,
         'вдоль': 443,
         'дороге': 272,
         'петергоф': 7,
         'мелькают': 92,
         'ряд': 506,
         'изза': 502,
         'ограды': 41,
         'разнообразные': 11,
         'фасады': 2,
         'кровли': 30,
         'мирные': 51,
         'домов': 109,
         'тени': 1188,
         'таинственных': 59,
         'садов': 83,
         'трактир…': 1,
         'века': 585,
         'зовется': 60,
         'красным': 118,
         'кабачком': 2,
         'блага': 95,
         'человека': 398,
         'построен': 15,
         'сумасшедших': 17,
         'дом': 1523,
         'приют': 222,
         'смиренный': 71,
         'танцорка': 2,
         'юная': 84,
         'нашла[3]': 1,
         'краса': 292,
         'балетной': 3,
         'сцены': 68,
         'содержании': 5,
         'была': 2561,
         'n': 19,
         'помещик': 77,
         'казани': 17,
         'богатый': 126,
         'волжский': 5,
         'старожил': 3,
         'волокитства': 2,
         'признаний': 18,
         'ее': 6336,
         'невинности': 63,
         'лишил': 28,
         'говорил': 475,
         'свои': 1383,
         'садишься': 2,
         'сани': 54,
         'танцоркой': 1,
         'вздумал': 68,
         'управлять': 32,
         'ну': 2250,
         '&ltеё': 1,
         'е***ть&gt': 1,
         'обратимся': 6,
         'поскорее': 63,
         'к': 18276,
         'нашим': 177,
         'буйным': 32,
         'молодцам': 6,
         'стоят': 341,
         'аллее': 37,

Всё ли нам нравится в получившемся словаре?

## Дополнительные материалы <a name="parlast"></a>

+ Про открытие файлов в Python [PythonRU](https://pythonru.com/osnovy/fajly-v-python-vvod-vyvod)
+ Как работают кодировки текста. [Статья на Хабр](https://habr.com/ru/post/478636/)
+ [Документация `pandas`](https://pandas.pydata.org/docs/reference/general_functions.html)