**Цикл while: вспомним**

In [ ]:
while <логическое выражение>:
    <тело цикла>

|ЭЛЕМЕНТ|ОПИСАНИЕ|
|:---:|:---:|
|<font size="3">**while**</font>|<font size="3">Зарезервированное ключевое слово, с которого начинается цикл|
|<font size="3">**<логическое выражение>**	| <font size="3">Выражение, результатом которого является булево значение `True` или `False`. <br>Если результат <логического выражения> `True`, то цикл продолжает работу. <br>Как только результат <логического выражения> поменялся на `False`, цикл останавливается|
|<font size="3">**:**|<font size="3">Зарезервированный ключевой символ. Обязательно после указания <логического выражения> использовать двоеточие|
|<font size="3">**<тело цикла>**|<font size="3">Инструкции, которые выполняются при каждой итерации. Записывается с отступом относительно ключевого слова while|

<hr>

Небольшой пример использования цикла while в [игре](https://reeborg.ca/reeborg.html?lang=en&mode=python&menu=worlds%2Fmenus%2Freeborg_intro_en.json&name=Hurdle%202&url=worlds%2Ftutorial_en%2Fhurdle2.json)

Вставьте в поле с кодом игры этот код:

    def turn_right():
        turn_left()
        turn_left()
        turn_left()
        
    def jump():
        move()
        turn_left()
        move()
        turn_right()
        move()
        turn_right()
        move()
        turn_left()

    while not at_goal():
        jump()

<hr>

Рисуем с помощью цикла while.

In [15]:
h = 7
w = h + 2
m = w // 4
i = 1
while i <= h:
    if (i <= m):
      print(" " * (m-i) + "*" * (2*i) + " " * (w-2*i-2*m) + "*" *(2*i) + " " * (m-i))
    else:
      print(" " * (i - 2*m+1) + "*" * (w-2*(i-2*m+1)) + " " * (i - 2*m+1))
    i += 1

 **   **
**** ****
*********
 *******
  *****
   ***
    *

### Задача 1

Напишите программу, которая будет проверять верность введенного пользователем пароля, пока пароль не совпадет с истинным.

Верный пароль пользователя – PythonLanguage345

In [ ]:
correct_passw = 'PythonLanguage345'

# ваш код

### Повторение

Вспомним задачу про сессию с прошлого семинара.

**Задача**

Используя логические операторы `if` и `else`, напишите следующую программу:

**Иван подается на Повышенную Государственную Академическую Стипендию по достижениям в спортивной сфере. Напишите программу которая покажет, может ли Иван претендовать на получение ПГАС**:
* В переменную `session` считывается переменная `True` или `False` которая означает, закрыл ли студент сессию на оценки на "хорошо" и выше (`True`) или нет (`False`);
* В переменную `diplomas` считывается число полученных Иваном спортивных достижений за последний год.

* Если студент закрыл сессию не на оценки выше "хорошо", то программа печатает строку `"Не можете претендовать"`;

* Если студент закрыл сессию на оценки выше "хорошо" и имеет 1 и более спортивных достижений за последний год (`diplomas`), то программа печатает строку `"Можете претендовать"`. Если достижений за последний год (`diplomas`) нет, то программа печатает `"Не хватает достижений"`.

Примеры тестов вы можете увидеть в табличке:

<center>
    <table>
        <tr>
            <th>session</th>
            <th>diplomas</th>
            <th>Результат</th>
        </tr>
        <tr><td>False</td><td>0</td><td>Не можете претендовать</td></tr>
        <tr><td>False</td><td>1</td><td>Не можете претендовать</td></tr>
        <tr><td>True</td><td>0</td><td>Не хватает достижений</td></tr>
        <tr><td>True</td><td>1</td><td>Можете претендовать</td></tr>
    </table>
</center>

Такой вариант не сработает:

In [1]:
session = bool(input())
diplomas = int(input())
if session and diplomas >= 1:
    print("Можете претендовать")
elif session:
    print("Не хватает достижений")
else:
    print("Не можете претендовать")

 True
 0

Не хватает достижений

Дело в функции `bool`.

In [1]:
# session = bool(input()) не сработает
print(bool("True"))
print(bool("False"))
print(bool("1"))
print(bool("0"))
print(bool(1))
print(bool(0))

True
True
True
True
True
False

In [14]:
session = bool(input())
print(session)

False
True

In [10]:
session = bool(int(input())) # вводим 0 или 1
diplomas = int(input())
if session and diplomas >= 1:
    print("Можете претендовать")
elif session:
    print("Не хватает достижений")
else:
    print("Не можете претендовать")

1
0
Не хватает достижений

In [12]:
session = input() # вводим True или False, это будут строки
diplomas = int(input())
if session == "True" and diplomas >= 1:
    print("Можете претендовать")
elif session == "True":
    print("Не хватает достижений")
else:
    print("Не можете претендовать")

True
0
Не хватает достижений

Функция `bool` не может преобразовать строку, только число.

## Типы данных — часть 3. Строки, списки и кортежи <a name="par1"></a>

В рамках курса мы будем работать в основном со встроенными структурами данных 👼

До этого мы поработали с числами, но хотим, конечно, работать не только с ними

![python-data-types.jpg]()

Вспомним про различия между структурами данных.

**Строки** — содержат текстовую информацию и пишутся в кавычках '' или "". Неизменяемые.

``` my_string = 'я строка'```

**Списки** — содержат набор данных (возможно, разных типов) и пишутся в квадратных скобках через запятую [ ]. Изменяемые.

```my_list = ['я', 'список'] ```

**Кортежи** — содержат набор данных (возможно, разных типов) и пишутся в квадратных скобках через запятую ( ). Неизменяемые.

```my_tuple = ('я', 'кортеж') ```

In [ ]:
new_line = 'это строка'

new_line

'это строка'

In [ ]:
new_list = [4, 'я очень разнообразный', [2, 3], new_line]

new_list

[4, 'я очень разнообразный', [2, 3], 'это строка']

In [ ]:
new_tuple = (4, 'я очень разнообразный', [2, 3], new_line)

new_tuple

**Основные операции над строками и списками**

Со строками и списками, как и с числами, можно производить разные операции. Не всегда предсказуемо, что произойдёт — и чтобы узнать, как сделать что-то конкретное со строкой или списком, обычно приходится искать это

In [ ]:
two_words = "два" + "слова"

two_words

'дваслова'

In [ ]:
two_words * 3

'двасловадвасловадваслова'

In [ ]:
#Считаем длину слова - количество символов в строке
len(two_words)

8

In [ ]:
len(' ')

1

In [ ]:
two_words = ["два"] + ["слова"]

two_words

['два', 'слова']

In [ ]:
two_words * 3

['два', 'слова', 'два', 'слова', 'два', 'слова']

In [ ]:
# Считаем длину списка

len(two_words)

2

А вот такого не надо

In [ ]:
#two_words = ["два"] - ["слова"]

#two_words

И такого не надо 😶

In [ ]:
#two_words = "два" + 5

#two_words

Операции мы можем выполнять только над данными одного типа

**Индексация**

# Индексы

In [ ]:
my_string = '40'
my_list = ['4', '0']

In [ ]:
print(my_string == my_list)

False

In [ ]:
print(my_string[0] == my_list[0])

True

Что произошло?

**Индексы** в Python начинаются с 0.

Первый элемент имеет индекс 0, второй — 1, и так далее

Можно использовать отрицательные индексы для доступа к элементам с конца списка. -1 обозначает последний элемент, -2 — предпоследний и так далее.

In [ ]:
print('С индексами: ', my_string[0], my_list[0])
print('Без индексов: ', my_string, my_list)

С индексами:  4 4
Без индексов:  40 ['4', '0']

Давайте разберемся с индексами 🤔

In [ ]:
# Создаем список чисел
numbers = [10, 20, 30, 40, 50]

# Обращение к элементам списка по индексу
print("Первый элемент списка:", numbers[0])
print("Второй элемент списка:", numbers[2])
print("Последний элемент списка:", numbers[-1])

Первый элемент списка: 10
Второй элемент списка: 30
Последний элемент списка: 50

А как со строкой? 🤔

In [ ]:
string = 'кто проживает на дне океана'

print("Первый элемент строки:", string[0])
print("Второй элемент строки:", string[2])
print("Последний элемент строки:", string[-10])

Первый элемент строки: к
Второй элемент строки: о
Последний элемент строки: д

Посмотрим на список строк 🤔

In [ ]:
list_of_strs = ['кто', 'проживает', 'на', 'дне', 'океана']
print("Первый элемент списка:", string[0])
print("Второй элемент списка:", string[2])
print("Последний элемент списка:", string[-10])

Первый элемент списка: к
Второй элемент списка: о
Последний элемент списка: д

**Кортежи**

Ранее мы уже обсуждали списки и кортежи в разговоре о типах данных. Тогда основное отличие заключалось в том, что списки — это изменяемый тип данных, а кортежи — неизменяемый. Проверить, что кортежи нельзя изменить, очень просто:

In [ ]:
(1, 2, 3)[0] # индексация работает

1

In [ ]:
(1, 2, 3)[0] = 0 # а вот попытка изменить кортеж (заменить его элемент) выдает ошибку

TypeError: 'tuple' object does not support item assignment

Попробуйте проделать то же самое со списками и строками.

In [ ]:
# YOUR CODE

Синтаксис кортежа (на английскойм – *tuple*) выглядит так, а для его создания вам нужно использовать круглые скобки:

```my_tuple = (1, 2, 3, 4, 5)```

Вы можете также создать кортеж с помощью функции `tuple()`:

```tuple([1, 2, 3, 4, 5])  # создаем кортеж из списка```

Оба типа данных представляют собой последовательности, однако кортеж — это неизменяемый и более быстрый аналог списка. Он защищает хранимые данные от непреднамеренных изменений и может использоваться в качестве ключа в словарях.

In [ ]:
import timeit # импортируем модуль timeit

# измеряет, за сколько секунд запустится этот код number раз
print(timeit.timeit('x = (1,2,3,4,5,6,7,8,9)', number=100000)) # когда создаем кортеж
print(timeit.timeit('x = [1,2,3,4,5,6,7,8,9]', number=100000)) # когда создаем список

0.006312374999993153
0.011767707999979393

Также, если функция возвращает несколько значений, то делает она это в виде кортежа.

In [ ]:
import math     # импортируем модуль math
math.modf(2.34) # к слову, как вы думаете, что делает эта функция?

(0.33999999999999986, 2.0)

Методы `.index()`, `.count()` и функция `len()` работают как с кортежами, так и со списками.

In [ ]:
A = (1, 2, 4) # создаем кортеж A

print(len(A)) # длина кортежа A
print(A.count(1)) # сколько раз число 1 встречается в кортеже A
print(A.index(1)) # возвращает индекс целого числа 1 в кортеже A

3
1
0

## Методы строк (`.join()` и `.split()`) <a name="par2"></a>

Со списками работает больше методов, все их обсудим в следующий раз. Пока остановимся только на двух, которые на данный момент могут представлять интерес, они оба имеют оношение к спискам, однако являются методами строк. Речь идет про `.join()` и `split()`.

Чтобы создать список, нужно использовать квадратные скобки и поместить внутрь какие-то значения:

```products = ["яблоки", "бананы", "апельсины"]```

```numbers = [1, 2, 3]```

Вы можете также создать список из кортежа с помощью функции `list()`. Например:

```numbers = list((1, 2, 3)) # результат - [1, 2, 3]```

Можно создать список из строки. Например:

```list('abcde') # ['a', 'b', 'c', 'd', 'e']```

Метод `.join()` из списка <b>строк</b> делает строку.

In [ ]:
products = ["яблоки", "бананы", "апельсины"] # внутри списка products только строки
', '.join(products) # объединяем эти строки в списке в одну большую строку

'яблоки, бананы, апельсины'

Фактически метод применяется к строке `', '` и говорит — используй эту строку в качестве разделителя между другими строками нашего списка.

In [ ]:
', '.join(["яблоки", 111, "апельсины"]) # ошибка TypeError

TypeError: sequence item 1: expected str instance, int found

Если же мы попытаемся объединить так список, состоящий не только из строк, то программа выдаст уже известную нам ошибку.

У этого метода есть еще пара нюансов, которые стоит запомнить. Помните про форматирование строки и f-строки? Попробуем подставить в такую запись `.join()`.

In [ ]:
print(f'В магазине надо купить: {', '.join(products)}') # внутри одинарные кавычки

SyntaxError: f-string: expecting '}' (3853788120.py, line 1)

Это тот случай, где кавычки важны! Обратите внимание ошибка возникла потому, что f-строка подумала, что она заканчивается вот здесь `В магазине надо купить: {'` и при этом не нашла закрывающуюся скобочку `}`. Как решить проблему? Например, использовать в `.join()` двойные кавычки.

In [ ]:
print(f'В магазине надо купить: {", ".join(products)}') # внутри двойные кавычки

В магазине надо купить: яблоки, бананы, апельсины

И второй нюанс в том, что визуально может быть похоже следующее:

In [ ]:
print(", ".join(products))   # печатаем строку
print(*products, sep = ', ') # распаковываем список

яблоки, бананы, апельсины
яблоки, бананы, апельсины

В первом случае у нас создается строка, во втором — мы просто распаковываем имеющийся список.

Метод `split()` работает в обратную сторону — он буквально разделит нашу строку, и по умолчанию сделает это по пробелам.

In [ ]:
years = input()        # вводим какое-то значение
years = years.split()  # разбиваем строку (по умолчанию - по пробелу)
print(years)           # печатаем получившийся результат

1258   1638        1729   982
['1258', '1638', '1729', '982']

Во-первых, обращаем внимание, что убираются все пробелы между символами.

Во-вторых, это все можно было записать в одну строку вот так:

In [ ]:
print(input().split()) # только тут у нас не создается переменная

1258   1638        1729   982
['1258', '1638', '1729', '982']

In [ ]:
print(input().split(', ')) # а еще можно использовать другое разделитель - например, запятую с пробелом

1258   1638        1729   982
['1258   1638        1729   982']

Если тоже самое «разделить» по запятой с пробелом, то получится список, состоящий из одной строки. Однако, если бы в ней были `, `, то наш метод также бы разделил по ним строку.

Вернемся к нашему списку `years` и попробуем вытащить оттуда максимальное значение:

In [ ]:
max(years)

'982'

Ой, что-то пошло не так. Это связано с тем, что было вытащено максимальное/первое значение по алфавиту, ведь мы работаем со строками. Нужно попробовать переделать наш список в список целых чисел. Быстрее всего это сделать с помощью функции `map()`.

## И напоследок про `map()` <a name="par5"></a>

Вспомним про наш список `years`. Преобразовать все в целые числа можно еще и так:

In [ ]:
int_years_3 = list(map(int, years))
print(years)
print(int_years_3)

['1258', '1638', '1729', '982']
[1258, 1638, 1729, 982]

Что тут произошло? Функция `map()` буквально говорит: возьми функцию `int()` и примени ее ко всем элементам нашего списка. Возвращает нам объект типа `map`, который потом мы уже преобразовываем в список с помощью функции `list()`.

Функция `map()` может работать не только с встроенными функциями, но и с любыми другими, даже написанными именно нами.

In [ ]:
from math import sqrt

sqrt_years = list(map(sqrt, int_years_3))

print(int_years_3)
print(sqrt_years)

[1258, 1638, 1729, 982]
[35.4682957019364, 40.47221268969612, 41.58124577258358, 31.336879231984796]

Например, возьмем квадратный корень из всех наших значений.

В заключении скажем, что есть еще нечто, называемое безымянными функциями `lambda`, которые также работают с `map()`, но о них мы поговорим чуть позже, при обсуждении функций. Не переживаем, если все, что написано ниже, буде непонятно!! Мы разберемся со всем!

In [ ]:
plus_one_years = list(map(lambda x: x + 1, int_years_3))

print(int_years_3)
print(plus_one_years)

[1258, 1638, 1729, 982]
[1259, 1639, 1730, 983]

А и началось же все с того, что мы хотели максимальный год достать. Вот он:

In [ ]:
print(max(int_years))

1729

## PS: методы списков <a name="par6"></a>

Сейчас перечислим те методы, которые были упомянуты в онлайн-курсе, и методы, которые есть еще. И коротко о том, как они работают.

|Есть в онлайн-курсе | Все остальное |
|:--------------:|:-----:|
| `.append()` |  `.extend()` |
| `.count()`      |  `.insert()` |
| `.remove()`      |  `.pop()` |
| `.index()`      |  `.sort()` |
|     |  `.reverse()` |
|     |  `.copy()` |
|     |  `.clear()` |

Почти все они <u>изменяют исходный список</u>.

In [ ]:
# Метод .extend() добавляет в конец списка А все элементы списка B

A = [1, 2, 3, 4]
B = [5, 6, 7, 8]

A.extend(B)

print(A)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Метод .insert() добавляет в список А на место определенного индекса (2) новый элемент (строку 'new')

A = [1, 2, 3, 4]

A.insert(2, 'new')

print(A)

[1, 2, 'new', 3, 4]

In [ ]:
# Метод .pop() удаляет i-ый (2) элемент из списка А и возвращает его.
# Если индекс не указан, удаляется последний элемент

A = [1, 2, 3, 4]

get_element = A.pop(2)

print(get_element)
print(A)

3
[1, 2, 4]

In [ ]:
# Метод .sort() сортирует список А
# Метод .reverse() разворачивает список В

A = [1, 2, 3, 4]
B = [5, 6, 7, 8]

A.sort()
B.reverse()

print(A)
print(B)

[1, 2, 3, 4]
[8, 7, 6, 5]

In [ ]:
# Метод .copy() создает копию списка A
# Метод .clear() очищает список А

A = [1, 2, 3, 4]

B = A.copy()
A.clear()

print(A) # будет пустым
print(B) # а тут лежит копия

[]
[1, 2, 3, 4]

Не путайте списки с массивами (если кто-то встречался с таким словом). Массивы ограничены тем, что содержат в себе только один тип данных за раз, а в списках может быть сразу несколько. Возможно, чуть позже будет отдельный конспект именно по массивам.

## Дополнительные материалы <a name="parlast"></a>

+ Документация Python [Built-in Types](https://docs.python.org/3/library/stdtypes.html)
+ Документация Python [More Control Flow Tools](https://docs.python.org/3/tutorial/controlflow.html)
+ Щуров И.В., Тамбовцева А.А., Жучкова С.В. —  курс «Основы программирования в Python» ([ссылка на курс](https://allatambov.github.io/pypolit/pypolit.html))
+ Статья на Хабр. [Понимание итераторов в Python](https://habr.com/ru/post/488112/)
+ [Цикл `for` в Python - как работает, синтаксис, примеры](https://pythonchik.ru/osnovy/cikl-for-v-python)
+ [Как работает функция `enumerate()` в Python?](https://pythonist.ru/kak-rabotaet-funkcziya-enumerate-v-python/)
+ Python для начинающих. [Про `try-except`](https://pythonworld.ru/tipy-dannyx-v-python/isklyucheniya-v-python-konstrukciya-try-except-dlya-obrabotki-isklyuchenij.html)
+ Python для начинающих. [Все методы списков с примерами](https://pythonworld.ru/tipy-dannyx-v-python/spiski-list-funkcii-i-metody-spiskov.html)